/* 
Claudio Perez
03/2020
 */

.icon {
  width: 16px;
  height: 16px;
}



/* .bg-primary{
  background-color:rgb(0,50,98) !important; // navbar background color 
  border-color: rgb(196,130,14);            // navbar border color 
} */


/* text color for navbar menu items */
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: rgb(196,130,14); 
}

/* text color for menu items when hovering */
ul.nav a:hover { color: rgb(196,130,14) !important; }

a {
  color: rgb(196,130,14);
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background-color: transparent;
}

.navbar-brand {
  /* https://www.dafontfree.net/freefonts-californian-fb-f64598.htm */
  font-family: "Californian FB" !important;
  font-size: 1.49375rem
  /* font-family: "freight-text-pro" !important; */
  /* font-weight: 200; */
  /* font-style: normal; */
}

/* Added for collapsible table */
tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

/* Inline code */

code {
  padding: 1px 3px;
  background: #f5f5f5;
  border: solid 1px #ccc;
  /* color: #333; */
}

pre code {
  background: transparent;
  border: none;
}

a > code {
  color: rgb(0,50,98);
}
code {
  color: rgb(0,50,98);
}

a > code:hover, a > code:focus {
  color: rgb(0,50,98);
}


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

img{
    width:70%;
    /* max-width:500px; */
}

/* navbar
 * ----------------------------------------*/

.navbar {
  background-color: rgb(250, 250, 250);
}
.navbar li {
  /* transition: .3s background-color; */
  text-align: center;
  /* background-color: transparent; */
  padding: 0rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}
/* .navbar li:hover {
  background-color: #00A3E0;
} */
.navbar li .nav-link{
  color: rgb(0,50,98);
}
.navbar li:hover .nav-link{
  color: #212529;
}
.nav.navbar-nav li a {
  color:#545b62;;
}
.dropdown-item.active, .dropdown-item:active {
    color: #ffff;
    text-decoration: none;
    background-color: #545b62;
}

.dropdown-menu {
  background-color: rgb(250, 250, 250); /*#000000d0;*/
}

.dropdown-item {
  color: #00A3E0;
}

/* .dropdown-item:hover {
  background-color: #00A3E0D0;
} */

.hero {
  /* background-color: rgba(245, 245, 245, 0.92); */
  text-color: black;
}


.top-image {
  height: 10rem;
  max-width: 20rem;
}

.outline-FEDEASLab {
  color:  rgb(0,50,98);
  background-color: transparent;
  border-color: rgb(0,50,98);
}

.outline-FEDEASLab:hover {
  color: #212529;
  background-color: rgb(196,130,14);
  border-color: rgb(196,130,14);
}

.filled-FEDEASLab {
  /* color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; */
  color: #fff;
  background-color: rgb(0,50,98);
  border-color: rgb(0,50,98);
}

.filled-FEDEASLab:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}



/* CODE BLOCKS
-------------------------------------------------- */

/* Center codeblocks vertically in region */
.code-block {
  display: flex;
  flex-direction: column;
justify-content: center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  padding-bottom: 1rem;
}

.featurette-subheading {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  font-weight: 600;
  margin: 1.2rem 0;
}

/* Supporters
 * ----------------------------*/

.supporters {
  text-align: center;
}

.supporter {
  margin: 0.5rem 0;
  width: 100%;
}

.supporter img{
  max-height: 80%;
  max-width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}
/* -------------------------------------------------------------------------------------
Begin m2html.css
 */

/* body {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
} */

div.fragment { 
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding-left: 4px;
	margin: 4px;
}

div.box { 
	width: 98%;
	background-color: #f5f5f5;
	border: 1px solid #CCCCCC;
	color: black;
	padding: 4px;
}

.comment {
	color: #228B22;
}
.string {
	color: #B20000;
}
.keyword { 
	color: #0000FF;
}

.keywordtype { color: #604020; }
.keywordflow { color: #e08000; }
.preprocessor { color: #806020; }
.stringliteral { color: #002080; }
.charliteral { color: #008080; }
/* 
a {
	text-decoration: none; 
} */
/* 
a:hover {
	background-color: #006699;
	color:#FFFFFF;
} */

a.code {
	font-weight: normal; 
	color: #A020F0;
}

a.code:hover {
	/* background-color: #FF0000; */
	color: #FFFFFF;
}	

/* h1 {
	background: transparent;
	color: #006699;
	font-size: x-large;
	text-align: center;
} */

/* h2 {
	background: transparent;
	color: #006699;
	font-size: large;
} */

/* address {
	font-size:small;
} */

/* form.search {
	margin-bottom: 0px;
	margin-top: 0px;
} */
/* input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #eeeeff;
} */

/* li {
    padding-left:5px;
} */

/* 
end m2html.css
 ------------------------------------------------------------------------------------- */
