body::before {
    background: url(/img/grid.png) repeat-x;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.74765625rem;
    padding-bottom: 0.74765625rem;
    margin-right: 1rem;
    font-size: 1.015625rem;
    font-size: 1.3rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: "Californian FB" !important;
}

